body{
    background-color: #dfdfdf;
}
.container{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}
.header{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: #0059ff;
}
.menu{
    position: absolute;
    height: 3000px;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: .7s;
    text-align: center;
    z-index: 5;
}
.menu ul{
    padding-top: 80px;
}
.menu ul li{
    list-style-type: none;
    margin-top: 50px;
}
.in{
    transform: translateX(100%);
}
.logo_mark{
    position: relative;
    background-color: #0059ff;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #919090; 
    display: inline-block;
    box-sizing: border-box;
    z-index: 10;
}
.logo_mark div{
    position: absolute;
    left: 10px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
}
.logo_mark div:nth-of-type(1){
    width: 15px;
    bottom: 40px;
    transition: 0.5s;
}
.logo_mark div:nth-of-type(2){
    width: 35px;
    bottom: 30px;
    transition: 0.5s;
}
.logo_mark div:nth-of-type(3){
    width: 10px;
    bottom: 20px;
    transition: 0.5s;
}
.logo_mark.open div:nth-of-type(1){
    top: 30px;
    transform: rotate(45deg);
    width: 40px;
}
.logo_mark.open div:nth-of-type(2){
    opacity: 0;
}
.logo_mark.open div:nth-of-type(3){
    top: 30px;
    transform: rotate(-45deg);
    width: 40px;
}
.header_logo{
    display: inline-block;
    height: 60px;
    font-size: 45px;
    color: #0059ff;
    margin-left: 20px;
    vertical-align: text-bottom;
}